# Default ignored files
/shelf/
/workspace.xml
.idea
/node_modules
/build
/Framewurke.iml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

